#canvas
  #left
    .status-wrapper
      span.left
      #status-box
        .status-icon
        .my-info
          p.name la cuturubrita loca
          p.message pam pararam
          a.status(href:"#")  
            span.label available
        .photo
          img(src:'/images/photo.png')
      span.right
    .accounts-wrapper
      #search-contact-box
        span.left
        span.center
          input type(text) 
        span.right
      #my-account-box
        ul
          li
            a.account-icon.gtalk 
          li
            a.account-icon.facebook
          li
            a.account-icon.msn
        a#add-contact  