#canvas
  #left
    .status-wrapper
      span.left
      #status-box
        .status-icon
        .my-info
          p.name la cuturubrita loca
          p.message pam pararam
          a.status(href:"#")  
            span.label available
        .photo
          img(src:'/images/photo.png')
      span.right