#canvas
  #left
    .status-wrapper
      span.left
      #status-box
        .status-icon
        .my-info
          p.name la cuturubrita loca
          p.message pam pararam
          a.status(href:"#")  
            span.label available
        .photo
          img(src:'/images/photo.png')
      span.right
    .accounts-wrapper
      #search-contact-box
        span.left
        span.center
          input(type:'text')
        span.right
      #my-accounts-box
        ul
          li
            a.account-icon.gtalk(href:"#") 
          li
            a.account-icon.facebook(href:"#")
          li
            a.account-icon.msn(href:"#")
        a#add-contact(href:"#")  
          span.label add account
      #buddy-list-box
        .sections-wrapper
          - each net in ['Chat', 'Gtalk', 'facebook']
            .buddy-list-section
              a.header(href:"#")
                span.header-icon(class: net.toLowerCase())
                span.header-label= net
                span.header-expand
              ul.buddy-list
                - for (var i=0; i < 10; i++)
                  - bg = (i%2==0) ? 'even' : 'odd'
                  li.buddy-item(class: bg)
                    span.status-icon.online
                    .buddy-info
                      p.name pumiprinsipis
                      p.message el de las garritas
                    img.buddy-photo(src:'/images/buddies/'+((i%2==0) ? 1 : 2)+'.jpg')
      .accounts-footer
