#canvas
  #left
    .status-wrapper
      span.left
      #status-box
        .status-icon
        .my-info
          p.name la cuturubrita loca
          p.message pam pararam
          a.status(href:"#")  
            span.label available
        .photo
          img(src:'/images/photo.png')
      span.right
    .accounts-wrapper
      #search-contact-box
        span.left
        span.center
          input(type:'text')
        span.right
      #my-accounts-box
        ul
          li
            a.account-icon.gtalk(href:"#") 
          li
            a.account-icon.facebook(href:"#")
          li
            a.account-icon.msn(href:"#")
        a#add-contact(href:"#")  
          span.label add account
      #buddy-list-box
        .buddy-list-selection
          a.header(href:"#")
            span.header-icon
            span.header-label Chat
            span.header-expand
          ul.buddy-list
            li.buddy-item
              span.status-icon.online
              .buddy-info
                p.name pumiprinsipis
                p.message el de las garritas
              span.network-icon
              img.buddy-photo
                img(src:'/images/1.jpg')
